<p>Scan your Item</p>

<div>
  <select [(ngModel)]="selectedItem">
    <option *ngFor="let n of items"
            [value]="n.name">
      {{n.name}}
    </option>
  </select>

  <button class="ml-2 btn btn-primary" type="button"  (click)="onItemSelected()">Scan Selected Item</button>
</div>


<br />

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Total Items</th>
        <th>Discount</th>
        <th>Total Items Price</th>
        <th>Total Discounted Items Price</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of scItems">
        <td>{{c.name}}</td>
        <td>{{c.price | number:'1.2-2'}}</td>
        <td>{{c.totalItems}}</td>
        <td style="color: green">{{c.discountText}}</td>
        <td>{{c.totalItemPrice  | number:'1.2-2'}}</td>
        <td style="color: green">{{c.totalDiscountedItemPrice | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
  </div>

    <br />

  <div>
    <h4>Total: {{grandTotal | number:'1.2-2'}}</h4>
  </div>

  <div>
    <h4 style="color:green">Discount Total : {{grandTotalDiscounted | number:'1.2-2'}}</h4>
  </div>



